<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProfile name="staging">
		<!-- configuration to be enabled when the "staging" profile is active -->
	</springProfile>

	<springProfile name="dev, staging">
		<!-- configuration to be enabled when the "dev" or "staging" profiles are 
			active -->
	</springProfile>

	<springProfile name="!production">
		<!-- configuration to be enabled when the "production" profile is not active -->
	</springProfile>
</configuration>